<% provide(:title, 'Log in') %>
<% provide(:tags, 'description: Log in to save games and view your stats.') %>

<br />
<h1>Log in</h1>
<br />

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, 'Email address' %>
      <%= f.email_field :email, class: 'form-control',
                                spellcheck: false,
                                tabindex: 1 %>

      <%= f.label :password %>
      <%= link_to '(forgot password)', forgot_path, tabindex: 5 %>
      <%= f.password_field :password, class: 'form-control', tabindex: 2 %>
      <br />

      <%= f.submit 'Log in', class: 'btn btn-primary', tabindex: 3 %>
    <% end %>

    <p>New user? <%= link_to 'Sign up now.', signup_path, tabindex: 4 %></p>
  </div>
</div>
