<div id="filters" class="col-xs-12">

  <div class="clearfix">
    <h2>Filter by show date</h2>
    <br />
    <div class="text-center">
      <select style="width: 12vw;">
        <option>Display only</option>
        <option>Hide all</option>
      </select>
      stats from shows aired
      <select style="width: 20vw;">
        <option>since the beginning of</option>
        <option>in the last</option>
        <option>since</option>
        <option>between</option>
      </select>
      <select style="width: 22vw;">
        <option>time</option>
        <option>Season 34 (2017-09-11)</option>
        <option>Season 33 (2016-09-12)</option>
        <option>Season 32 (2015-09-14)</option>
      </select>
      .
    </div>
    <div class="text-center">
      Apply a half-life?
    </div>
  </div>

  <hr>

  <div class="clearfix">
    <h2>Filter by date played</h2>
    <br />
    <div class="text-center">
    </div>
  </div>

  <hr>

  <div class="text-center">
    <button>Apply all filters</button>
  </div>

  <hr>

  <div class="clearfix">
    <h2>Filter by play type</h2>
    <br />
    <table id="typeTable"
           class="tablesorter tablesorter-blue<%= ' empty' if no_games %>">
      <thead>
        <tr>
          <th>Include in stats?</th>
          <th>Play type</th>
          <th>Games played</th>
          <th>Average score</th>
          <th>High score</th>
          <th>Low score</th>
          <th>Final rate</th>
        </tr>
      </thead>
      <tbody>
        <% @play_type_summary.each do |type_stats| %>
          <% type_abbr = type_stats['play_type'] %>
          <tr class="<%= type_abbr %>">
            <td>
              <input id="<%= type_abbr %>-box" type="checkbox"
                     <%= 'checked="checked"'.html_safe if @play_types.include?(type_abbr) %>>
            </td>
            <td><%= PLAY_TYPES[type_abbr] %></td>
            <td><%= type_stats['games_count'] %></td>
            <td><%= number_to_currency(type_stats['average_score']) %></td>
            <td><%= number_to_currency(type_stats['max'], precision: 0) %></td>
            <td><%= number_to_currency(type_stats['min'], precision: 0) %></td>
            <td><%= display_percentage_from_rate(type_stats['final_rate']) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr>

  <div class="text-center">
    <button <%= 'class="disabled"'.html_safe if no_games %>
            id="<%= @sample ? 'update-sample-types' : 'update-displayed-types' %>">
      Apply all filters
    </button>
  </div>
</div>
