<div id="finals">
  <h2>Final stats for <%= @email %>:</h2>
  <hr>
  <h2>Overall rate: <%= display_rate(stats[:user]) %></h2>
  <hr>

  <div class="row">
    <div class="col-xs-4">
      <p><strong><i>On-air contestants:</i></strong></p>
    </div>
    <div class="col-xs-8">
      <p><strong>You:</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 top-pad"><i>
      <% %w(1st 2nd 3rd).each_with_index do |place, i| %>
        <p class="breathable">
          <%= place %> place: <%= display_rate(stats[:contestants][i + 1]) %>
        </p>
      <% end %>
      <p class="top-pad">Overall: <%= display_rate(stats[:contestants][0]) %></p>
    </i></div>
    <% %w(right wrong).each do |status| %>
      <div class="col-xs-4 top-pad">
        <% %w(1st 2nd 3rd).each_with_index do |player, i| %>
          <p class="breathable">
            When <%= player %> is <%= status %>:
            <%= display_rate(stats["when_#{status}".to_sym][i + 1]) %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <p><strong>Your results when the contestants go...</strong><p>
    </div>
    <% 3.downto(0) do |players| %>
      <div class="col-xs-4 top-pad">
        <% players.downto(0) do |correct_responders| %>
          <p class="breathable">
          <%= correct_responders %>-for-<%= players %>:
          <%= display_rate(stats[:by_get_rate][correct_responders][players]) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr>

  <h2>Wagering: Food for Thought</h2>
  <%= stats.inspect %>
  <hr>

  <h3 class="text-center">From the lead</h3>

  <p>
  If you bet for the shutout, your chance of a big payday is about
  <abbr title="Percent of Finals where you are right. (Sample size: <%= sample_size(stats[:user]) %>)" rel="tooltip">
    <%= display_percentage(stats[:user]) %></abbr>.
  You may also have a chance to win on a miss:
  </p>
  <ul>
    <li>
      If both of your opponents would need to miss, your total chance of winning is about
      <abbr title="Percent of Finals where you are right OR you, second, and third are all wrong." rel="tooltip">
        <%= '--%' %></abbr>.
    </li>
    <li>
      If you'd only need second place to miss, your total chance of winning is about
      <abbr title="Percent of Finals where you are right OR you and second are both wrong." rel="tooltip">
        <%= '--%' %></abbr>.
    </li>
  </ul>
  <p>If you're considering an unorthodox (say, $0) wager, bear in mind that:</p>
  <ul>
    <li>
      The chance of second place missing is about
      <abbr title="Percent of Finals where second is wrong. (Sample size: <%= sample_size(stats[:contestants][2]) %>)" rel="tooltip">
        <%= display_percentage(stats[:contestants][2], 'wrong') %></abbr>.
    </li>
    <li>
      The chance of third place missing is about
      <abbr title="Percent of Finals where third is wrong. (Sample size: <%= sample_size(stats[:contestants][3]) %>)" rel="tooltip">
        <%= display_percentage(stats[:contestants][3], 'wrong') %></abbr>.
    </li>
    <li>
      The chance they both miss is about
      <abbr title="Percent of Finals where second and third are both wrong." rel="tooltip">
        <%= '--%' %></abbr>.
    </li>
  </ul>

  <hr>

  <h3 class="text-center">From second place</h3>

  <p>
  If you bet everything, you definitely need to be right, and you probably need the leader to miss. (This is your only hope if you have less than 2/3 of the leader's score.)
  </p>
  <ul><li>
      Result: a big payday and another game. Success rate: about
      <abbr title="Percent of Finals where you are right AND first is wrong." rel="tooltip">
        <%= '--%' %></abbr>.
  </li></ul>

  <p>
  If you have at least 2/3 of the leader's score and more than twice third's score, a $0 bet would likely give you the win if the leader misses.
  </p>
  <ul><li>
      Result: a smaller payday and another game. Success rate: about
      <abbr title="Percent of Finals where first is wrong. (Sample size: <%= sample_size(stats[:contestants][1]) %>)" rel="tooltip">
        <%= display_percentage(stats[:contestants][1], 'wrong') %></abbr>.
  </li></ul>

  <p>
  If you have at least 2/3 of the leader's score but third could overtake you, you'd still win with a $0 bet if they both miss.
  </p>
  <ul><li>
      Result: a smaller payday and another game. Success rate: about
      <abbr title="Percent of Finals where first and third are both wrong." rel="tooltip">
        <%= '--%' %></abbr>.
  </li></ul>

  <hr>

  <h3 class="text-center">From third place</h3>

  <p>
  If you have a path to victory, it probably requires you to be the only one to respond correctly, or a triple stumper plus a big bet from second.
  </p>
  <ul>
    <li>
      If you need to be right and have first and second miss, your chance is about
      <abbr title="Percent of Finals where you are right AND first and second are both wrong." rel="tooltip">
        <%= '--%' %></abbr>.
    </li>
    <li>
      If you only need first and second to miss, your chance is about
      <abbr title="Percent of Finals where first and second are both wrong." rel="tooltip">
        <%= '--%' %></abbr>.
    </li>
  </ul>

  <hr>

  <h3 class="text-center">Notes</h3>
  <ul>
    <li>I wouldn't put much stock in the exact numbers until you have sample sizes of at least a few dozen Finals. Over a hundred is better.</li>
    <li>All percentages include only those Finals for which both your result and all relevant contestant data are present.</li>
  </ul>
</div>
