<div id="finals">
  <h2>Final stats for <%= @email %>:</h2>
  <hr>
  <h2>Overall rate: <%= display_rate(stats[:user]) %></h2>
  <hr>

  <div class="row">
    <div class="col-xs-4">
      <p><strong><i>On-air contestants:</i></strong></p>
    </div>
    <div class="col-xs-8">
      <p><strong>You:</strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 top-pad"><i>
      <% %w(1st 2nd 3rd).each_with_index do |place, i| %>
        <p class="breathable">
          <%= place %> place: <%= display_rate(stats[:contestants][i + 1]) %>
        </p>
      <% end %>
      <p class="top-pad">Overall: <%= display_rate(stats[:contestants][0]) %></p>
    </i></div>
    <% %w(right wrong).each do |status| %>
      <div class="col-xs-4 top-pad">
        <% %w(1st 2nd 3rd).each_with_index do |player, i| %>
          <p class="breathable">
            When <%= player %> is <%= status %>:
            <%= display_rate(stats["when_#{status}".to_sym][i + 1]) %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <p><strong>Your results when the contestants go...</strong><p>
    </div>
    <% 3.downto(0) do |players| %>
      <div class="col-xs-4 top-pad">
        <% players.downto(0) do |correct_responders| %>
          <p class="breathable">
          <%= correct_responders %>-for-<%= players %>:
          <%= display_rate(stats[:by_get_rate][correct_responders][players]) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr class="padded-rule">

  <section id="wagering-thoughts" class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

    <div class="caution-box">
      <% moe = [0.98 * sample_size(stats[:contestants][2]) ** -0.5, 1].min %>
      <% moe_display = "±" + number_to_percentage(100 * moe, precision: 0) %>
      <p>
        <strong>Caution:</strong>
        While the ideas below are always worth considering, a lot of data is required before the specific numbers become meaningful.
      </p>
      <br>
      <p>
        With your current sample size, the margin of error on these numbers is about
        <strong class="nowrap"><abbr title="This is an approximation of a 95% confidence interval. If you'd prefer a looser constraint, an 80% confidence interval is about 2/3 of this number, and a 50% confidence interval is about 1/3 of this number." rel="tooltip"><%= "±" + number_to_percentage(stats[:advice][:moe_pct], precision: 0)%></abbr></strong>.
      </p>
    </div>

    <h2>Wagering: Food for Thought</h2>

    <hr>

    <h3 class="text-center">From the lead</h3>

    <p>
    If you bet for the shutout, your chance of a big payday is about
    <abbr title="Percent of Finals where you are right. (Sample size: <%= sample_size(stats[:user]) %>)" rel="tooltip">
      <%= display_percentage(stats[:user]) %></abbr>.
    You may also have a chance to win on a miss:
    </p>
    <ul>
      <li>
        If both of your opponents would need to miss, your total chance of winning is about
        <abbr title="Percent of Finals where you are right OR you, second, and third are all wrong. (Sample size: <%= sample_size(stats[:advice][:crush_3p_win]) %>)" rel="tooltip">
          <%= display_percentage(stats[:advice][:crush_3p_win]) %></abbr>.
      </li>
      <li>
        If you'd only need second place to miss, your total chance of winning is about
        <abbr title="Percent of Finals where you are right OR you and second are both wrong. (Sample size: <%= sample_size(stats[:advice][:crush_2p_win]) %>)" rel="tooltip">
          <%= display_percentage(stats[:advice][:crush_2p_win]) %></abbr>.
      </li>
    </ul>
    <p>If you're considering an unorthodox wager, bear in mind that:</p>
    <ul>
      <li>
        The chance of second place missing is about
        <abbr title="Percent of Finals where second is wrong. (Sample size: <%= sample_size(stats[:contestants][2]) %>)" rel="tooltip">
          <%= display_percentage(stats[:contestants][2], 'wrong') %></abbr>.
      </li>
      <li>
        The chance of third place missing is about
        <abbr title="Percent of Finals where third is wrong. (Sample size: <%= sample_size(stats[:contestants][3]) %>)" rel="tooltip">
          <%= display_percentage(stats[:contestants][3], 'wrong') %></abbr>.
      </li>
      <li>
        The chance they both miss is about
        <abbr title="Percent of Finals where second and third are both wrong. (Sample size: <%= sample_size(stats[:advice][:second_third_wrong]) %>)" rel="tooltip">
          <%= display_percentage(stats[:advice][:second_third_wrong]) %></abbr>.
      </li>
    </ul>

    <hr>

    <h3 class="text-center">From second place</h3>

    <p>
    If you bet everything, you definitely need to be right, and you probably need the leader to miss. (This is your only hope if you have less than 2/3 of the leader's score.)
    </p>
    <ul><li>
        Result: a big payday and another game. Success rate: about
        <abbr title="Percent of Finals where you are right AND first is wrong. (Sample size: <%= sample_size(stats[:advice][:player_right_first_wrong]) %>)" rel="tooltip">
          <%= display_percentage(stats[:advice][:player_right_first_wrong]) %></abbr>.
    </li></ul>

    <p>
    If you have at least 2/3 of the leader's score and more than twice third's score, a $0 bet would likely give you the win if the leader misses.
    </p>
    <ul><li>
        Result: a smaller payday and another game. Success rate: about
        <abbr title="Percent of Finals where first is wrong. (Sample size: <%= sample_size(stats[:contestants][1]) %>)" rel="tooltip">
          <%= display_percentage(stats[:contestants][1], 'wrong') %></abbr>.
    </li></ul>

    <p>
    If you have at least 2/3 of the leader's score but third could overtake you, you'd still win with a $0 bet if they both miss.
    </p>
    <ul><li>
        Result: a smaller payday and another game. Success rate: about
        <abbr title="Percent of Finals where first and third are both wrong. (Sample size: <%= sample_size(stats[:advice][:first_third_wrong]) %>)" rel="tooltip">
          <%= display_percentage(stats[:advice][:first_third_wrong]) %></abbr>.
    </li></ul>

    <hr>

    <h3 class="text-center">From third place</h3>

    <p>
    If you have a path to victory, it probably requires you to be the only one to respond correctly, or a <a href="http://j-archive.com/help.php#triplestumper" target="_blank" class="nowrap">triple stumper</a> plus a big bet from second.
    </p>
    <ul>
      <li>
        If you need to be right and have first and second miss, your chance is about
        <abbr title="Percent of Finals where you are right AND first and second are both wrong. (Sample size: <%= sample_size(stats[:advice][:player_right_first_second_wrong]) %>)" rel="tooltip">
          <%= display_percentage(stats[:advice][:player_right_first_second_wrong]) %></abbr>.
      </li>
      <li>
        If you only need first and second to miss, your chance is about
        <abbr title="Percent of Finals where first and second are both wrong. (Sample size: <%= sample_size(stats[:advice][:first_second_wrong]) %>)" rel="tooltip">
          <%= display_percentage(stats[:advice][:first_second_wrong]) %></abbr>.
      </li>
    </ul>

    <hr>

    <h3 class="text-center">Notes</h3>
    <ul id="wagering-notes">
      <li>All percentages include only those Finals for which both your result and all relevant contestant data are present.</li>
      <li>As mentioned in the box above, beware of exact numbers until you have a lot of data entered.</li>
    </ul>
  </section>
</div>
