<div id="overview">
  <h2>Stats overview for <%= @name %>:</h2>
  <br />

  <div id="overall-stats" class="col-xs-12 col-lg-6 text-center">
    <p>Games played: <%= tracked %></p>
    <% unless tracked == user_games_count %>
      <p class="aside">(plus <%= pluralize(user_games_count - tracked, 'untracked game') %> - visit the Filters tab to change)<br /><br /></p>
    <% end %>

    <p>Total score: <%= number_to_currency(@summary[:all][:score], precision: 0) %></p>

    <% unless tracked.zero? %>
      <p>Average score: <%= number_to_currency(@summary[:all][:average_score]) %></p>
    <% end %>

    <p><abbr title="Not including Daily Doubles or Finals." rel="tooltip">
      Clues right: <%= @summary[:all][:right] %>
    </abbr></p>
    <p><abbr title="Not including Daily Doubles or Finals." rel="tooltip">
      Clues wrong: <%= @summary[:all][:wrong] %>
    </abbr></p>
    <p><abbr title="Not including Daily Doubles or Finals." rel="tooltip">
      Clues passed: <%= @summary[:all][:pass] %>
    </abbr></p>

    <p>
      Round One DDs:
      <%= @summary[:round_one][:dd_right] %>/<%= @summary[:round_one][:dds] %>
      <% unless @summary[:round_one][:dds].zero? %>
        (<%= number_to_percentage(100 * @summary[:round_one][:dd_rate], precision: 2) %>)
      <% end %>
    </p>
    <p>
      Round Two DDs:
      <%= @summary[:round_two][:dd_right] %>/<%= @summary[:round_two][:dds] %>
      <% unless @summary[:round_two][:dds].zero? %>
        (<%= number_to_percentage(100 * @summary[:round_two][:dd_rate], precision: 2) %>)
      <% end %>
    </p>
    <p>
      Finals: <%= @summary[:finals][:right] %>/<%= @summary[:finals][:count] %>
      <% unless @summary[:finals][:count].zero? %>
        (<%= number_to_percentage(100 * @summary[:finals][:rate], precision: 2) %>)
      <% end %>
    </p>
  </div>

  <div class="spacer hidden-lg">
    &nbsp;
  </div>

  <div id="percentile-stats" class="col-xs-12 col-lg-6">
    <div class="col-xs-6 text-right">Maximum:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:max], precision: 0) %></div>
    <div class="col-xs-6 text-right">99th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p99], precision: 0) %></div>
    <div class="col-xs-6 text-right">95th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p95], precision: 0) %></div>
    <div class="col-xs-6 text-right">90th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p90], precision: 0) %></div>
    <div class="col-xs-6 text-right">75th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p75], precision: 0) %></div>
    <div class="col-xs-6 text-right">50th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p50], precision: 0) %></div>
    <div class="col-xs-6 text-right">25th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p25], precision: 0) %></div>
    <div class="col-xs-6 text-right">10th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p10], precision: 0) %></div>
    <div class="col-xs-6 text-right">5th percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p5], precision: 0) %></div>
    <div class="col-xs-6 text-right">1st percentile:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:p1], precision: 0) %></div>
    <div class="col-xs-6 text-right">Minimum:</div>
    <div class="col-xs-6"><%= number_to_currency(pctile[:min], precision: 0) %></div>
  </div>
</div>
