<div id="overview">
  <h2>Stats overview for <%= @email %>:</h2>
  <br />

  <p>Games played: <%= tracked %></p>
  <% unless tracked == user_games_count %>
    <p class="aside">(plus <%= pluralize(user_games_count - tracked, 'untracked game') %> - visit the "Play types" tab to change)<br /><br /></p>
  <% end %>

  <p>Total score: <%= number_to_currency(@summary[:all][:score], precision: 0) %></p>

  <% unless tracked.zero? %>
    <p>Average score: <%= number_to_currency(@summary[:all][:average_score]) %></p>
  <% end %>

  <p><abbr title="Not including Daily Doubles or Finals.">
    Clues right: <%= @summary[:all][:right] %>
  </abbr></p>
  <p><abbr title="Not including Daily Doubles or Finals.">
    Clues wrong: <%= @summary[:all][:wrong] %>
  </abbr></p>
  <p><abbr title="Not including Daily Doubles or Finals.">
    Clues passed: <%= @summary[:all][:pass] %>
  </abbr></p>

  <p>
    Round One DDs:
    <%= @summary[:round_one][:dd_right] %>/<%= @summary[:round_one][:dds] %>
    <% unless @summary[:round_one][:dds].zero? %>
      (<%= number_to_percentage(100 * @summary[:round_one][:dd_rate], precision: 2) %>)
    <% end %>
  </p>
  <p>
    Round Two DDs:
    <%= @summary[:round_two][:dd_right] %>/<%= @summary[:round_two][:dds] %>
    <% unless @summary[:round_two][:dds].zero? %>
      (<%= number_to_percentage(100 * @summary[:round_two][:dd_rate], precision: 2) %>)
    <% end %>
  </p>
  <p>
    Finals: <%= @summary[:finals][:right] %>/<%= @summary[:finals][:count] %>
    <% unless @summary[:finals][:count].zero? %>
      (<%= number_to_percentage(100 * @summary[:finals][:rate], precision: 2) %>)
    <% end %>
  </p>
</div>
