<div id="topics">
  <h2>
    Topics for <%= @email %>
    <% if stats.size == (user_topics_count = @user.topics.count) %>
      (<%= user_topics_count %>):
    <% else %>
      (<%= stats.size %> of <%= user_topics_count %>):
    <% end %>
  </h2>

  <table id="topicTable" class="tablesorter tablesorter-blue">
    <thead>
      <tr>
        <th>Topic</th>
        <th><abbr title="Not including Finals.">Categories</abbr></th>
        <th><abbr title="Not including Daily Doubles or Finals.">Right</abbr></th>
        <th><abbr title="Not including Daily Doubles or Finals.">Wrong</abbr></th>
        <th><abbr title="Not including Daily Doubles or Finals.">Pass</abbr></th>
        <th>Total Score</th>
        <th>Possible Score</th>
        <th class="end-of-group">
          <abbr title="Total score divided by possible score.">Efficiency</abbr>
        </th>
        <th>DDs</th>
        <th>Right</th>
        <th>Wrong</th>
        <th class="end-of-group">%</th>
        <th>Finals</th>
        <th>Right</th>
        <th>Wrong</th>
        <th>%</th>
        <th class="end-of-group">
          <abbr title="Get rate of contestants on the show.">On-air %</abbr>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Universal Topic -->
      <tr>
        <td>
          <span class="nowrap">--ALL</span>
          <span class="nowrap">CATEGORIES--</span>
        </td>
        <td><%= @summary[:all][:game_count] * 12 %></td>
        <td><%= @summary[:all][:right] %></td>
        <td><%= @summary[:all][:wrong] %></td>
        <td><%= @summary[:all][:pass] %></td>
        <td><%= number_to_currency(@summary[:all][:score], precision: 0) %></td>
        <td><%= number_to_currency(@summary[:all][:possible_score], precision: 0) %></td>
        <td class="end-of-group">
          <%= number_with_precision(@summary[:all][:efficiency], precision: 5) %>
        </td>
        <td><%= @summary[:all][:dds] %></td>
        <td><%= @summary[:all][:dd_right] %></td>
        <td><%= @summary[:all][:dd_wrong] %></td>
        <td class="end-of-group">
          <%= display_percentage_from_rate(@summary[:all][:dd_rate]) %>
        </td>
        <td><%= @summary[:finals][:count] %></td>
        <td><%= @summary[:finals][:right] %></td>
        <td><%= @summary[:finals][:wrong] %></td>
        <td><%= display_percentage_from_rate(@summary[:finals][:rate]) %></td>
        <td class="end-of-group">
          <%= display_percentage_from_rate(@final_stats[:contestants][0][2]) %>
        </td>
      </tr>

      <!-- Individual Topics -->
      <% stats.each do |topic| %>
        <tr>
          <td><%= topic['topic_name'] %></td>
          <td><%= topic['sixths_count'] %></td>
          <td><%= topic['right'] %></td>
          <td><%= topic['wrong'] %></td>
          <td><%= topic['pass'] %></td>
          <td><%= number_to_currency(topic['score'], precision: 0) %></td>
          <td><%= number_to_currency(topic['possible_score'], precision: 0) %></td>
          <td class="end-of-group">
            <%= number_with_precision(topic['efficiency'], precision: 5) %>
          </td>
          <td><%= topic['dds'] %></td>
          <td><%= topic['dd_right'] %></td>
          <td><%= topic['dd_wrong'] %></td>
          <td class="end-of-group">
            <%= display_percentage_from_rate(topic['dd_rate']) %>
          </td>
          <td><%= topic['finals_count'] %></td>
          <td><%= topic['finals_right'] %></td>
          <td><%= topic['finals_wrong'] %></td>
          <td><%= display_percentage_from_rate(topic['final_rate']) %></td>
          <td class="end-of-group">
            <%= display_percentage_from_rate(topic['final_onair_rate']) %>
            <!--<%= topic['final_onair_right'] %>/<%= topic['final_onair_den'] %>-->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="topics-notes">
    <p id="notes-title">Notes:</p>
    <p><strong>Categories</strong> counts do not include Finals.</p>
    <p><strong>Right</strong>, <strong>Wrong</strong>, and <strong>Pass</strong>
    totals do not include Daily Doubles or Finals.</p>
    <p><strong>Efficiency</strong> is total score divided by possible score.</p>
    <p><strong>On-air %</strong> is the get rate of the contestants on the show for Finals with this topic.</p>
  </div>
</div>
