<div id="topics">
  <h2>
    Topics for <%= @sample ? @email : @user.email %>
    <% if stats.size == (user_topics_count = @user.topics.count) %>
      (<%= user_topics_count %>):
    <% else %>
      (<%= stats.size %> of <%= user_topics_count %>):
    <% end %>
  </h2>

  <table id="topicTable" class="tablesorter tablesorter-blue">
    <thead>
      <tr>
        <th>Topic</th>
        <th><abbr title="Not including Finals.">Categories</abbr></th>
        <th><abbr title="Not including Daily Doubles or Finals.">Right</abbr></th>
        <th><abbr title="Not including Daily Doubles or Finals.">Wrong</abbr></th>
        <th><abbr title="Not including Daily Doubles or Finals.">Pass</abbr></th>
        <th>Total Score</th>
        <th>Possible Score</th>
        <th class="end-of-group">
          <abbr title="Total score divided by possible score.">Efficiency</abbr>
        </th>
        <th>DDs</th>
        <th>Right</th>
        <th class="end-of-group">Wrong</th>
        <th>Finals</th>
        <th>Right</th>
        <th class="end-of-group">Wrong</th>
      </tr>
    </thead>
    <tbody>
      <!-- Universal Topic -->
      <tr>
        <td>
          <span class="nowrap">--ALL</span>
          <span class="nowrap">CATEGORIES--</span>
        </td>
        <td><%= @summary[:all][:game_count] * 12 %></td>
        <td><%= @summary[:all][:right] %></td>
        <td><%= @summary[:all][:wrong] %></td>
        <td><%= @summary[:all][:pass] %></td>
        <td><%= number_to_currency(@summary[:all][:score], precision: 0) %></td>
        <td><%= number_to_currency(@summary[:all][:possible_score], precision: 0) %></td>
        <td class="end-of-group">
          <%= number_with_precision(@summary[:all][:efficiency], precision: 5) %>
        </td>
        <td><%= @summary[:all][:dds] %></td>
        <td><%= @summary[:all][:dd_right] %></td>
        <td class="end-of-group"><%= @summary[:all][:dd_wrong] %></td>
        <td><%= @summary[:finals][:count] %></td>
        <td><%= @summary[:finals][:right] %></td>
        <td class="end-of-group"><%= @summary[:finals][:wrong] %></td>
      </tr>

      <!-- Individual Topics -->
      <% stats.each do |topic, results| %>
        <tr>
          <td><%= topic %></td>
          <td><%= results[:sixths_count] %></td>
          <td><%= results[:right] %></td>
          <td><%= results[:wrong] %></td>
          <td><%= results[:pass] %></td>
          <td><%= number_to_currency(results[:score], precision: 0) %></td>
          <td><%= number_to_currency(results[:possible_score], precision: 0) %></td>
          <td class="end-of-group">
            <%= number_with_precision(results[:efficiency], precision: 5) %>
          </td>
          <td><%= results[:dds] %></td>
          <td><%= results[:dd_right] %></td>
          <td class="end-of-group"><%= results[:dd_wrong] %></td>
          <td><%= results[:finals_count] %></td>
          <td><%= results[:finals_right] %></td>
          <td class="end-of-group"><%= results[:finals_wrong] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
// Make table sortable.
// Default sort: [ leftmost column, ascending ].
// Make everything else sort descending on first click.
$( "#topicTable" ).tablesorter({
  sortList: [[0,0]],
  sortInitialOrder: "desc",
  headers: {
    0: { sortInitialOrder: "asc" }
  }
});

$( "#topicTable" ).stickyTableHeaders({
  scrollableArea: $( '#stats-area' )
});
</script>
