<% provide(:title, @sample ? 'Sample stats' : 'Stats') %>
<% if @sample %>
  <% provide(:tags, "description: A sample stats page (with the developer's real stats), to give you a taste of what the J! Scorer can do.".html_safe) %>
<% else %>
  <% provide(:tags, 'description: Your up-to-the-minute stats, broken down by game, topic, row, play type, and more.') %>
<% end %>

<div id="stats-loading-message">
  Loading stats page. One moment please.
</div>

<div id="stats-area">

  <%# <div class="k-box"> %>
    <%# <p> %>
    <%# random_full_greeting %>
    <%# Check out the revamped-and-renamed Filters tab! In addition to play type, your stats can now be filtered by show date, date played, and/or the newly-added rerun status. As always, direct any and all feedback to %>
    <%# <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] % >"><%= ENV['SUPPORT_ADDRESS'] % ></a>. %>
    <%# (Also, drop me an email if you'd like me to mark some of your existing games as reruns in bulk.) %>
    <%# </p> %>
  <%# </div> %>

  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#games">Games</a></li>
    <li><a href="#topics">Topics</a></li>
    <li><a href="#by-row">By row</a></li>
    <li><a href="#finals">Finals</a></li>
    <li><a href="#filters">Filters</a></li>
  </ul>

  <noscript>
    <div class="no-js-box text-center">
      <p>
        Note: With JavaScript enabled, this same information is in a tabbed format which is much easier to read.
      </p>
    </div>
  </noscript>

  <% user_games_count = @user.games.count %>
  <% tracked = @summary[:all][:game_count] %>

  <%= render 'overview', user_games_count: user_games_count,
                         tracked: tracked,
                         pctile: @percentile_stats %>

  <%= render 'games', user_games_count: user_games_count, tracked: tracked %>

  <%= render 'topics', stats: @stats_by_topic %>

  <%= render 'by_row', stats: @stats_by_row %>

  <%= render 'finals', stats: @final_stats %>

  <%= render 'filters', no_games: user_games_count.zero? %>

</div>
