<% provide(:title, @sample ? 'Sample stats' : 'Stats') %>
<% if @sample %>
  <% provide(:tags, "description: A sample stats page (with the developer's real stats), to give you a taste of what the J! Scorer can do.".html_safe) %>
<% else %>
  <% provide(:tags, 'description: Your up-to-the-minute stats, broken down by game, topic, row, play type, and more.') %>
<% end %>

<div id="stats-area">

  <div class="k-box">
    <p>
    <%= random_full_greeting %>

    I've just done some major behind-the-scenes work to make the J! Scorer a bit more future-proof. If you notice anything broken, <em>please</em> let me know:

    <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
    </p>
  </div>

  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#games">Games</a></li>
    <li><a href="#topics">Topics</a></li>
    <li><a href="#by-row">By row</a></li>
    <li><a href="#finals">Finals</a></li>
    <li><a href="#types">Play types</a></li>
  </ul>

  <% user_games_count = @user.games.count %>
  <% tracked = @summary[:all][:game_count] %>

  <%= render 'overview', user_games_count: user_games_count, tracked: tracked %>

  <%= render 'games', user_games_count: user_games_count, tracked: tracked %>

  <%= render 'topics', stats: @stats_by_topic %>

  <%= render 'by_row', stats: @stats_by_row %>

  <%= render 'finals', stats: @final_stats %>

  <%= render 'types', user_games_count: user_games_count %>

</div>
