<% provide(:title, 'Stats') %>
<h2>Games played by <%= @user.email %> (<%= @user.games.count %>):</h2>

<table id="gameTable" class="tablesorter">
  <thead>
    <tr>
      <th>Played</th>
      <th>Show date</th>
      <th>Score</th>
      <th colspan=2>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user.games.each do |game| %>
      <tr>
        <!-- <td><%= game.date_played.strftime("%F") %></td> -->
        <td><%= game.date_played.to_s(:db) %></td>
        <td><%= game.show_date %></td>
        <td>$12,345</td>
        <% if current_user?(game.user) %>
          <td><%= link_to 'edit', game_path(game) %></td>
          <td><%= link_to 'delete',
                          game_path(game),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td colspan=2></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $( function() {
    // Make table sortable. Initialize default sort to
    // [ leftmost column, descending ]. Prevent meaningless attempts
    // to sort by "Actions" column (currently in position 3).
    $( "#gameTable" ).tablesorter({
      sortList: [[0,1]],
      headers: {
        3: { sorter: false }
      }
    });
  });
</script>
