<% provide(:title, @sample ? 'Sample stats' : 'Stats') %>

<div id="stats-area">
  <div class="k-box">
    <p>
    <%= random_greeting %>! I've just made some major changes, including enabling the filtering of stats by play type. Please let me know if I broke anything, and what I should add next: <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
    </p>
  </div>
  <% types_param = params['types'] ? '?types=' + params['types'] : '' %>
  <% topics_link = (@sample ? sample_topics_path : topics_path) + types_param %>
  <% by_row_link = (@sample ? sample_by_row_path : by_row_path) + types_param %>
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#games">Games</a></li>
    <li><a href="<%= topics_link %>">Topics</a></li>
    <li><a href="<%= by_row_link %>">By row</a></li>
    <li><a href="#types">Play types</a></li>
  </ul>

  <% mgs = @user.multi_game_summary(@play_types) %>
  <% user_games_count = @user.games.count %>
  <% tracked = mgs.games_tracked %>

  <%= render 'overview', mgs: mgs, user_games_count: user_games_count,
                         tracked: tracked %>

  <%= render 'games', user_games_count: user_games_count, tracked: tracked %>

  <%= render 'types', user_games_count: user_games_count %>

</div>
