<% provide(:title, 'Stats') %>

<div id="stats-area">
  <div class="k-box">
    <p>
    <%= random_greeting %>, early adopter! This is a small taste of the kinds of stats that will be available as development continues. Much, much more is coming, including complete overhauls of the "Overview" and "Topics" tabs. Is there a stat you'd like to see? Drop me a line at <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
    </p>
  </div>
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#games">Games</a></li>
    <li><a href="#topics">Topics</a></li>
  </ul>

  <div id="overview">
    <h2>Stats overview for <%= @user.email %>:</h2>
    <br />
    <% stats = @user.all_game_summary %>
    <p>Games played: <%= gp = @user.games.count %></p>
    <p>Total score: <%= number_to_currency(@user.total_score, precision: 0) %></p>
    <% unless gp.zero? %>
      <p>Average score: <%= number_to_currency(@user.average_score) %></p>
    <% end %>
    <p>Clues right: <%= stats[:round_one][:right] + stats[:round_two][:right] %></p>
    <p>Clues wrong: <%= stats[:round_one][:wrong] + stats[:round_two][:wrong] %></p>
    <p>Clues passed: <%= stats[:round_one][:pass] + stats[:round_two][:pass] %></p>
    <p>
      Round One DDs: <%= stats[:round_one][:dd_right] %>/<%= r1dds =
        stats[:round_one][:dd_right] + stats[:round_one][:dd_wrong] %>
      <% unless r1dds.zero? %>
        (<%= number_to_percentage(
          100 * stats[:round_one][:dd_right].to_f / r1dds, precision: 2) %>)
      <% end %>
    </p>
    <p>
      Round Two DDs: <%= stats[:round_two][:dd_right] %>/<%= r2dds =
        stats[:round_two][:dd_right] + stats[:round_two][:dd_wrong] %>
      <% unless r2dds.zero? %>
        (<%= number_to_percentage(
          100 * stats[:round_two][:dd_right].to_f / r2dds, precision: 2) %>)
      <% end %>
    </p>
    <p>
      Finals: <%= stats[:finals][:right] %>/<%= fs =
        stats[:finals][:right] + stats[:finals][:wrong] %>
      <% unless fs.zero? %>
        (<%= number_to_percentage(
          100 * stats[:finals][:right].to_f / fs, precision: 2) %>)
      <% end %>
    </p>

  </div>

  <div id="games">
    <h2>Games played by <%= @user.email %> (<%= @user.games.count %>):</h2>

    <table id="gameTable" class="tablesorter">
      <thead>
        <tr>
          <th>Played</th>
          <th>Show date</th>
          <th>Score</th>
          <th colspan=2>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.games.each do |game| %>
          <tr>
            <td><%= game.date_played.in_time_zone.to_s %></td>
            <td><%= game.show_date %></td>
            <td>$<%= game.adjusted_game_score %></td>
            <% if current_user?(game.user) %>
              <td><%= link_to 'edit', game_path(game) %></td>
              <td><%= link_to 'delete',
                              game_path(game),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td colspan=2></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="topics">
    <h2>Topics for <%= @user.email %> (<%= @user.topics.count %>):</h2>

    <table id="topicTable" class="tablesorter">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Categories</th>
          <th>R1Right</th>
          <th>R1Wrong</th>
          <th>R1Pass</th>
          <th>R2Right</th>
          <th>R2Wrong</th>
          <th>R2Pass</th>
          <th>Total Score</th>
          <th>Possible Score</th>
          <th>Efficiency</th>
          <th>Finals Right</th>
          <th>Finals Wrong</th>
          <th>Final Success Rate</th>
        </tr>
      </thead>
      <tbody>
        <!-- Universal Topic -->
        <% summary = @user.all_game_summary %>
        <tr>
          <td>--ALL CATEGORIES--</td>
          <td><%= @user.games.count * 13 %></td>
          <td><%= summary[:round_one][:right] %></td>
          <td><%= summary[:round_one][:wrong] %></td>
          <td><%= summary[:round_one][:pass] %></td>
          <td><%= summary[:round_two][:right] %></td>
          <td><%= summary[:round_two][:wrong] %></td>
          <td><%= summary[:round_two][:pass] %></td>
          <td><%= ts = summary[:round_one][:score] +
                       summary[:round_two][:score] %></td>
          <td><%= ps = summary[:round_one][:possible_score] +
                       summary[:round_two][:possible_score] %></td>
          <!-- Efficiency -->
          <% if ps.zero? %>
            <td></td>
          <% else %>
            <td>
              <%= number_with_precision((ts / ps.to_f), precision: 5) %>
            </td>
          <% end %>
          <td><%= fr = summary[:finals][:right] %></td>
          <td><%= fw = summary[:finals][:wrong] %></td>
          <!-- Final Success Rate -->
          <% if (fr + fw).zero? %>
            <td></td>
          <% else %>
            <td>
              <%= number_with_precision((fr / (fr + fw).to_f), precision: 5) %>
            </td>
          <% end %>
        </tr>

        <!-- Individual Topics -->
        <% @user.topics.each do |topic| %>
          <% round_one = topic.round_one_stats %>
          <% round_two = topic.round_two_stats %>
          <tr>
            <td><%= topic.name %></td>
            <td><%= topic.sixths.count + topic.finals.count %></td>
            <td><%= round_one[:right] %></td>
            <td><%= round_one[:wrong] %></td>
            <td><%= round_one[:pass] %></td>
            <td><%= round_two[:right] %></td>
            <td><%= round_two[:wrong] %></td>
            <td><%= round_two[:pass] %></td>
            <td><%= ts = round_one[:score] + round_two[:score] %></td>
            <td><%= ps = round_one[:possible_score] +
                         round_two[:possible_score] %></td>
            <!-- Efficiency -->
            <% if ps.zero? %>
              <td></td>
            <% else %>
              <td>
                <%= number_with_precision((ts / ps.to_f), precision: 5) %>
              </td>
            <% end %>
            <td><%= fr = topic.finals.where(result: 3).count %></td>
            <td><%= fw = topic.finals.where(result: 1).count %></td>
            <!-- Final Success Rate -->
            <% if (fr + fw).zero? %>
              <td></td>
            <% else %>
              <td>
                <%= number_with_precision((fr / (fr + fw).to_f), precision: 5) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
