<div id="topics">
  <h2>
    Topics for <%= @sample ? @email : @user.email %>
    (<%= @user.topics.count %>):
  </h2>

  <table id="topicTable" class="tablesorter">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Categories</th>
        <th>Right</th>
        <th>Wrong</th>
        <th>Pass</th>
        <th>Total Score</th>
        <th>Possible Score</th>
        <th>Efficiency</th>
        <th>DDRight</th>
        <th>DDWrong</th>
        <th>Finals Right</th>
        <th>Finals Wrong</th>
        <th>Final Success Rate</th>
      </tr>
    </thead>
    <tbody>
      <!-- Universal Topic -->
      <% round_one = @summary.stats[:round_one] %>
      <% round_two = @summary.stats[:round_two] %>
      <tr>
        <td>
          <span class="nowrap">--ALL</span>
          <span class="nowrap">CATEGORIES--</span>
        </td>
        <td><%= @summary.games_tracked * 13 %></td>
        <td><%= round_one[:right] + round_two[:right] %></td>
        <td><%= round_one[:wrong] + round_two[:wrong] %></td>
        <td><%= round_one[:pass] + round_two[:pass] %></td>
        <td><%= ts = round_one[:score] + round_two[:score] %></td>
        <td><%= ps = round_one[:possible_score] + round_two[:possible_score] %></td>
        <!-- Efficiency -->
        <% if ps.zero? %>
          <td></td>
        <% else %>
          <td>
            <%= number_with_precision((ts / ps.to_f), precision: 5) %>
          </td>
        <% end %>
        <td><%= round_one[:dd_right] + round_two[:dd_right] %></td>
        <td><%= round_one[:dd_wrong] + round_two[:dd_wrong] %></td>
        <td><%= fr = @summary.stats[:finals][:right] %></td>
        <td><%= fw = @summary.stats[:finals][:wrong] %></td>
        <!-- Final Success Rate -->
        <% if (fr + fw).zero? %>
          <td></td>
        <% else %>
          <td>
            <%= number_with_precision((fr / (fr + fw).to_f), precision: 5) %>
          </td>
        <% end %>
      </tr>

      <!-- Individual Topics -->
      <% @user.topics.each do |topic| %>
        <% stats = topic.main_game_stats(@play_types) %>
        <tr>
          <td><%= topic.name %></td>
          <td><%= topic.categories_tracked(@play_types) %></td>
          <td><%= stats[:right] %></td>
          <td><%= stats[:wrong] %></td>
          <td><%= stats[:pass] %></td>
          <td><%= ts = stats[:score] %></td>
          <td><%= ps = stats[:possible_score] %></td>
          <!-- Efficiency -->
          <% if ps.zero? %>
            <td></td>
          <% else %>
            <td>
              <%= number_with_precision((ts / ps.to_f), precision: 5) %>
            </td>
          <% end %>
          <td><%= stats[:dd_right] %></td>
          <td><%= stats[:dd_wrong] %></td>
          <td><%= fr = topic.finals_right(@play_types) %></td>
          <td><%= fw = topic.finals_wrong(@play_types) %></td>
          <!-- Final Success Rate -->
          <% if (fr + fw).zero? %>
            <td></td>
          <% else %>
            <td>
              <%= number_with_precision((fr / (fr + fw).to_f), precision: 5) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
// Make table sortable.
// Default sort: [ leftmost column, ascending ].
$( "#topicTable" ).tablesorter({
  sortList: [[0,0]]
});

$( "#topicTable" ).stickyTableHeaders({
  scrollableArea: $( '#stats-area' )
});
</script>
