<div id="topics">
  <h2>
    Topics for <%= @sample ? @email : @user.email %>
  <% if @stats.size == (user_topics_count = @user.topics.count) %>
    (<%= user_topics_count %>):
  <% else %>
    (<%= @stats.size %> of <%= user_topics_count %>):
  <% end %>
  </h2>

  <table id="topicTable" class="tablesorter tablesorter-blue">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Categories</th>
        <th>Right</th>
        <th>Wrong</th>
        <th>Pass</th>
        <th>Total Score</th>
        <th>Possible Score</th>
        <th>Efficiency</th>
        <th>DDs</th>
        <th>DDRight</th>
        <th>DDWrong</th>
        <th>Finals</th>
        <th>Finals Right</th>
        <th>Finals Wrong</th>
      </tr>
    </thead>
    <tbody>
      <!-- Universal Topic -->
      <% round_one = @summary.stats[:round_one] %>
      <% round_two = @summary.stats[:round_two] %>
      <tr>
        <td>
          <span class="nowrap">--ALL</span>
          <span class="nowrap">CATEGORIES--</span>
        </td>
        <td><%= @summary.games_tracked * 12 %></td>
        <td><%= round_one[:right] + round_two[:right] %></td>
        <td><%= round_one[:wrong] + round_two[:wrong] %></td>
        <td><%= round_one[:pass] + round_two[:pass] %></td>
        <td><%= ts = round_one[:score] + round_two[:score] %></td>
        <td><%= ps = round_one[:possible_score] + round_two[:possible_score] %></td>
        <!-- Efficiency -->
        <% if ps.zero? %>
          <td></td>
        <% else %>
          <td>
            <%= number_with_precision((ts / ps.to_f), precision: 5) %>
          </td>
        <% end %>
        <td><%= (ddr = round_one[:dd_right] + round_two[:dd_right]) +
                (ddw = round_one[:dd_wrong] + round_two[:dd_wrong]) %></td>
        <td><%= ddr %></td>
        <td><%= ddw %></td>
        <td><%= (fr = @summary.stats[:finals][:right] ) +
                (fw = @summary.stats[:finals][:wrong] ) %></td>
        <td><%= fr %></td>
        <td><%= fw %></td>
      </tr>

      <!-- Individual Topics -->
      <% @stats.each do |topic, stats| %>
        <tr>
          <td><%= topic %></td>
          <td><%= stats[:sixths_count] %></td>
          <td><%= stats[:right] %></td>
          <td><%= stats[:wrong] %></td>
          <td><%= stats[:pass] %></td>
          <td><%= stats[:score] %></td>
          <td><%= stats[:possible_score] %></td>
          <td><%= number_with_precision(stats[:efficiency], precision: 5) %></td>
          <td><%= stats[:dds] %></td>
          <td><%= stats[:dd_right] %></td>
          <td><%= stats[:dd_wrong] %></td>
          <td><%= stats[:finals_count] %></td>
          <td><%= stats[:finals_right] %></td>
          <td><%= stats[:finals_wrong] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
// Make table sortable.
// Default sort: [ leftmost column, ascending ].
// Make everything else sort descending on first click.
$( "#topicTable" ).tablesorter({
  sortList: [[0,0]],
  sortInitialOrder: "desc",
  headers: {
    0: { sortInitialOrder: "asc" }
  }
});

$( "#topicTable" ).stickyTableHeaders({
  scrollableArea: $( '#stats-area' )
});
</script>
