<% provide(:title, 'Help') %>
<% provide(:tags, 'description: What the heck is a J! Scorer? A Coryat score? Why would I want to use them? How can I? Answers within.') %>

<div id="help-page">
  <div class="col-xs-10 col-xs-offset-1 j-box">
    <p>
    Welcome! The J! Scorer is still fairly young - any feedback is greatly appreciated. Have an idea for how something could be easier to use, or look better? Want to see a specific stat? Send any and all thoughts to <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
    </p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 booyah-box">
    <h2>J! Scorer - What, Why, and How</h2>
    <br />
    <p>
    The J! Scorer makes it easy for prospective <em>Jeopardy!</em> contestants to play along with the show and keep track of their training progress.
    </p>
    <br />
    <p>
    Both guests and registered users can use the J! Scorer to calculate their <a class="nowrap" href="http://www.pisspoor.com/jep.html" target="_blank">Coryat score</a> while playing along with the show in real time. Registered users can also save their games and track their stats over time. (See an interactive sample stats page <%= link_to 'here', sample_path %>.)
    </p>
    <br />
    <p>
    The <%= link_to 'game page', game_path, class: "nowrap" %> is where the action is.
    </p>
    <br />
    <%= image_tag "game_page.png", class: 'img-responsive center-block' %>
    <br />
    <p>
    As on the show, the blue boxes at the top of the board are where the category names go. As the categories are revealed on the show, type in a bit of the name - enough to find the proper column when a clue is selected. (This area is for your reference only, and has no effect on any stats.)
    </p>
    <br />
    <p>
    When a contestant selects a clue, click on (or touch) the appropriate box. This will bring up an overlay with several buttons. Click on <strong>Right</strong> or <strong>Wrong</strong> as appropriate for your response, or <strong>Pass</strong> if you chose to <a class="nowrap" href="http://j-archive.com/help.php#stayclam" target="_blank">STAY CLAM</a>. When a Daily Double is uncovered, tick the <strong>DD</strong> checkbox. The <strong>NR</strong> button is for any clues that go unrevealed.
    </p>
    <br />
    <%= image_tag "clue_overlay.png", class: 'img-responsive center-block' %>
    <br />
    <p>
    If you plan on saving your game, at the conclusion of each round, you can enter zero or more custom <strong>topics</strong> for each category in the white box between the category name and the clue boxes. (Separate multiple topics with commas.) After your game has been saved, your results from that category will be added to your totals for each topic on the <%= link_to 'stats page', stats_path, class: "nowrap" %>.
    </p>
    <br />
    <p>
    (For example, if the category is BEFORE &amp; AFTER, you might assign topics <em>Wordplay, General Knowledge</em>. If the category is SHAKESPEARE, your topics might be <em>Entertainment, Highbrow, Theatre, Shakespeare</em>. For best results, use whatever comes naturally to you; consistency is the key to good, useful stats.)
    </p>
    <br />
    <%= image_tag "topic_and_round_links.png", class: 'img-responsive center-block' %>
    <br />
    <p>
    Navigate between rounds with the links below the scoreboard.
    </p>
    <br />
    <p>
    For the Final clue, the category and topic areas work as before. Use the large <strong>Right</strong> or <strong>Wrong</strong> button to record your result. A check mark or an X will appear next to your score, as appropriate.
    </p>
    <br />
    <%= image_tag "final_overlay.png", class: 'img-responsive center-block' %>
    <br />
    <p>
    At the bottom of the Final area, there are places to enter the on-air contestants' results. (Use their positions entering Final, <i>i.e.</i>, just enter the results left-to-right, as third place is revealed first on the show.) This will enable you to view your Final stats broken down by contestant results, which can come in handy if you find yourself facing, say, <a class="nowrap" href="http://j-archive.com/help.php#strattonsdilemma" target="_blank">Stratton's Dilemma</a>.
    </p>
    <br />
    <p>
    To save your game, make sure that the show date, date and time played, play type, and rerun status are correct, then click the <strong>Save game</strong> link. When the game is successfully saved, the text of the link will change accordingly.
    </p>
    <br />
    <p>
    (Note: Your most-recently-displayed game is saved to a cookie in your browser. This enables you to visit other pages, like the login or signup page, and still have your game waiting for you when you return. To start a new game, click the <strong>New game</strong> link below the save area.)
    </p>
    <br />
    <p>
    Happy playing! If you have any questions that aren't answered here (including the notes below), please email <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
    </p>
    <br />
    <p>
    <strong>A note on browsers:</strong> The J! Scorer is developed primarily for recent versions of Chromium/Google Chrome, with regular checks that it works reasonably well in recent versions of Firefox. Support for other browsers is not planned at this time.
    </p>
    <br />
    <p>
    <strong>A note on mobile devices:</strong> In designing the J! Scorer, my decisions are aimed at maximum usability on laptops and desktops. Smaller-screened devices can work, but will likely need to be rotated so the screen is wider than it is tall.
    </p>
  </div>
</div>
