<div id="home-container">
  <% if logged_in? %>
    <p>Welcome back, <%= current_user.email %>!</p>
    <div><%= link_to 'Enter a Game', game_path, class: 'btn btn-primary' %></div>
    <div><%= link_to 'View My Stats', stats_path, class: 'btn btn-primary' %></div>
    <div><%= link_to 'Help', help_path, class: 'btn btn-primary' %></div>
  <% else %>
    <p>Welcome, Guest!</p>
    <div><%= link_to 'What is This?', help_path, class: 'btn btn-primary' %></div>
    <div><%= link_to 'Enter a Game', game_path, class: 'btn btn-primary' %></div>
    <div>
      <div class="soft-sell">
        <p>
          See a <%= link_to "sample stats page", sample_path, class: "nowrap" %>.
        </p>
        <p>
          To track your own stats,
        </p>
        <p>
          <%= link_to 'log in', login_path, class: "nowrap" %>
          or
          <%= link_to 'sign up', signup_path, class: "nowrap" %>.
        </p>
      </div>
    </div>
  <% end %>
</div>
