<div id="game-container">

  <div id="board-area">

    <div id="board">
      <% 1.upto(6) do |cat_num| %>
        <div class="category" id="category-<%= cat_num %>">

          <div class="cat-title" id="cat-title-<%= cat_num %>">
            <p contenteditable="true"
               class="default-cat click-resistant"
               tabindex="1"
               data-defaultvalue="CATEGORY <%= cat_num %>"
               data-column=<%= cat_num %>
               spellcheck="false">
               .
            </p>
          </div>

          <input class="topic-area" id="topic-area-<%= cat_num %>"
                                    placeholder="Topic(s)"
                                    tabindex="2"
                                    data-column=<%= cat_num %> />

          <% 1.upto(5) do |box_num| %>
            <div class="clue-box active-clue-box"
                 id="clue-box-<%= cat_num %>-<%= box_num %>"
                 data-column=<%= cat_num %>
                 data-row=<%= box_num %>
                 data-isdd=false
                 data-boxstate="active">
              <span>.</span>
            </div>
          <% end %>
        </div> <!-- category -->
      <% end %>
    </div> <!-- board -->

    <div id="clue-over-board">
      <div id="clue-heading">
        <span id="overlay-cat">{Category}</span>
        &nbsp;-&nbsp;
        <span id="overlay-value">{Value}</span>
      </div>

      <div id="clue-body">
        <div id="correctness-buttons">
          <button type="button" id="button-right">Right</button>
          <button type="button" id="button-pass">Pass</button>
          <button type="button" id="button-wrong">Wrong</button>
        </div>

        <div id="dd-nr-cancel">
          <div id="dd-checkbox-container">
            <label for="dd-checkbox">DD&nbsp;</label>
            <input type="checkbox" id="dd-checkbox" value="DD" />
          </div>
          <div id="button-nr">
            <button type="button">NR</button>
          </div>
          <div id="reset-cancel">
            <a id="reset-link">Reset clue</a>
            <a id="cancel-link">Cancel</a>
          </div>
        </div>
      </div>
    </div> <!-- clue-over-board -->

    <div id="final-over-board">
      <div id="final-cat-title">
        <p contenteditable="true"
           class="final-cat default-cat click-resistant"
           tabindex="1"
           data-defaultvalue="FINAL CATEGORY"
           spellcheck="false">
        .
        </p>
      </div>

      <input id="final-topic-area" placeholder="Topic(s)" tabindex="2" />

      <div id="final-clue-body">
        <div id="final-correctness-buttons">
          <button type="button"
                  id="button-final-right"
                  tabindex="3">
            Right
          </button>
          <button type="button"
                  id="button-final-wrong"
                  tabindex="3">
            Wrong
          </button>
        </div>

        <div id="final-contestant-results">
          <div class="contestant-result" id="third-result">
            Third place:
            <div class="btn-group" data-toggle="buttons">
              <label id="p3right" class="btn btn-default fj-button fj-right">
                <input type="radio" name="third_right" value=true /> Right
              </label>
              <label id="p3wrong" class="btn btn-default fj-button fj-wrong">
                <input type="radio" name="third_right" value=false /> Wrong
              </label>
              <label id="p3dnp" class="btn btn-default fj-button fj-dnp">
                <input type="radio" name="third_right" value=null /> N/A
              </label>
            </div>
          </div>

          <div class="contestant-result" id="second-result">
            Second place:
            <div class="btn-group" data-toggle="buttons">
              <label id="p2right" class="btn btn-default fj-button fj-right">
                <input type="radio" name="second_right" value=true /> Right
              </label>
              <label id="p2wrong" class="btn btn-default fj-button fj-wrong">
                <input type="radio" name="second_right" value=false /> Wrong
              </label>
              <label id="p2dnp" class="btn btn-default fj-button fj-dnp">
                <input type="radio" name="second_right" value=null /> N/A
              </label>
            </div>
          </div>

          <div class="contestant-result" id="first-result">
            First place:
            <div class="btn-group" data-toggle="buttons">
              <label id="p1right" class="btn btn-default fj-button fj-right">
                <input type="radio" name="first_right" value=true /> Right
              </label>
              <label id="p1wrong" class="btn btn-default fj-button fj-wrong">
                <input type="radio" name="first_right" value=false /> Wrong
              </label>
              <label id="p1dnp" class="btn btn-default fj-button fj-dnp">
                <input type="radio" name="first_right" value=null /> N/A
              </label>
            </div>
          </div>
        </div> <!-- final-contestant-results -->
      </div> <!-- final-clue-body -->
    </div> <!-- final-over-board -->
  </div> <!-- board-area -->

  <div id="panel">
    <div id="scoreboard">
      Score
      <div>
        <span id="score">$&hellip;</span>
        <span id="final-symbol"></span>
      </div>
    </div>

    <div id="round-links">
      <div id="r1slot"><a id="round-one-link" tabindex="100">Round One</a></div>
      <div id="r2slot"><a id="round-two-link" tabindex="100">Round Two</a></div>
      <div id="fjslot"><a id="final-round-link" tabindex="100">Final Round</a></div>
    </div>

    <div id="save-area">

      <div class="row">
        <div class="col-xs-6 col-compact">
          Show date:
        </div>
        <div class="col-xs-6 col-compact text-right">
          <span id="show-date-change">
            (<a id="change-show-date-link"
                tabindex="200"
                data-toggle="modal"
                data-target="#date-change-modal">change</a>)
          </span>
        </div>
      </div>

      <div id="show-date-area" class="">
        <div class="row">
          <div class='col-xs-12 col-compact'>
            <div class="form-group">
              <div class='input-group date' id='show-date-picker'>
                <input type='text'
                       class="form-control"
                       tabindex="200"
                       spellcheck="false" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- show-date-area -->

      <div class="row">
        <div class="col-xs-4 col-compact">
          Played at:
        </div>
        <div class="col-xs-8 col-compact text-right">
          <span id="time-zone">(Time zone: Pacific)</span>
        </div>
      </div>

      <div id="played-at-area">
        <div class="row">
          <div class='col-xs-12 col-compact'>
            <div class="form-group">
              <div class='input-group date' id='played-picker'>
                <input type='text'
                       class="form-control"
                       tabindex="200"
                       spellcheck="false" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- played-at-area -->
      Play type:
      <select id="play-type-select" tabindex="200">
        <% PLAY_TYPES.each do |abbr, name| %>
          <option value="<%= abbr %>"><%= name %></option>
        <% end %>
      </select>

      <div class="text-center">
        <% if current_user %>
          <a id="save-link" tabindex="300" data-disabled="false">Save game</a>
        <% else %>
          <%= link_to 'Log in', login_path, tabindex: "300" %> to save game
        <% end %>
      </div>
    </div> <!-- save-area -->


    <div id="panel-links">
      <a id="delete-game-link" tabindex="400">New game</a>
    </div>
  </div> <!-- panel -->
</div> <!-- game-container -->

<!-- Modal for changing show date -->
<div id="date-change-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="date-change-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="date-change-modal-label">
          Change the airdate of this show...
        </h3>
      </div>

      <div class="modal-body">
        <p>from:</p>
        <p class="padded-graf">
          <span id="old-show-date">.</span>
        </p>
        <p>to:</p>
        <div class="row">
          <div class='col-xs-12 col-compact'>
            <div class="form-group">
              <div class='input-group date' id='change-show-date-picker'>
                <input type='text'
                       class="form-control"
                       tabindex="1"
                       spellcheck="false" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- modal-body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button id="change-show-date-button" type="button" class="btn btn-primary">
          Change show date
        </button>
      </div>

    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- date-change-modal -->
