<div id="game-container">

  <div id="board-area">

    <div id="board">
      <% 1.upto(6) do |cat_num| %>
        <div class="category" id="category-<%= cat_num %>">

          <div class="cat-title" id="cat-title-<%= cat_num %>">
            <p contenteditable="true"
               class="default-cat click-resistant"
               tabindex=1
               data-defaultvalue="Category <%= cat_num %>"
               data-column=<%= cat_num %>
               spellcheck="false">
               . <!-- Category <%= cat_num %> -->
            </p>
          </div>

          <input class="topic-area" id="topic-area-<%= cat_num %>"
                                    placeholder="Topic(s)"
                                    tabindex=2
                                    data-column=<%= cat_num %> />

          <% 1.upto(5) do |box_num| %>
            <div class="clue-box active-clue-box"
                 id="clue-box-<%= cat_num %>-<%= box_num %>"
                 data-column=<%= cat_num %>
                 data-row=<%= box_num %>
                 data-isdd=false
                 data-boxstate="active">
              <span>.</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="clue-over-board">
      <div id="clue-heading">
        <span id="overlay-cat">{Category}</span>
        &nbsp;-&nbsp;
        <span id="overlay-value">{Value}</span>
      </div>

      <div id="clue-body">
        <div id="correctness-buttons">
          <button type="button" id="button-right">Right</button>
          <button type="button" id="button-pass">Pass</button>
          <button type="button" id="button-wrong">Wrong</button>
        </div>

        <div id="dd-nr-cancel">
          <div id="dd-checkbox-container">
            <label for="dd-checkbox">DD&nbsp;</label>
            <input type="checkbox" id="dd-checkbox" value="DD" />
          </div>
          <div id="button-nr">
            <button type="button">NR</button>
          </div>
          <div id="reset-cancel">
            <a id="reset-link">Reset clue</a>
            <a id="cancel-link">Cancel</a>
          </div>
        </div>
      </div>
    </div>

    <div id="final-over-board">
      <div id="final-cat-title">
        <p contenteditable="true"
           class="default-cat click-resistant"
           tabindex=1
           data-defaultvalue="Final Category"
           spellcheck="false">
        .
        </p>
      </div>

      <input id="final-topic-area" placeholder="Topic(s)" tabindex=2 />

      <div id="final-clue-body">
        <div id="final-correctness-buttons">
          <button type="button"
                  id="button-final-right"
                  tabindex=3>
            Right
          </button>
          <button type="button"
                  id="button-final-wrong"
                  tabindex=3>
            Wrong
          </button>
        </div>

        <div id="final-contestant-results">
          <div id="final-correct-contestants">
            <label for="final-right-number">Contestants right:&nbsp;</label>
            <input type="number" id="final-right-number" value=0 tabindex=4 />
          </div>

          <div id="final-incorrect-contestants">
            <label for="final-wrong-number">Contestants wrong:&nbsp;</label>
            <input type="number" id="final-wrong-number" value=0 tabindex=4 />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="panel">
    <div id="scoreboard">
      Score
      <div>
        <span id="score">$...</span>
        <span id="final-symbol"></span>
      </div>
    </div>

    <div id="round-links">
      <div><a id="round-one-link" tabindex=100>Round One</a></div>
      <div><a id="round-two-link" tabindex=100>Round Two</a></div>
      <div><a id="final-round-link" tabindex=100>Final Round</a></div>
    </div>

    <div>
      <a id="temporary-link">Temporary link</a>
    </div>

    <div id="save-area">
      <%= render 'form' %>
    </div>

    <div id="panel-links">
      <a id="delete-game-link" tabindex=300>Delete this game</a>
      <%= link_to 'Help', help_path, tabindex: 300 %>
      <%= link_to 'About', about_path, tabindex: 300 %>
    </div>
  </div>
</div>
