<% top_row_value = 200 %>

<div id="game-container">

  <div id="board-area">

    <div id="board">
      <% 1.upto(6) do |cat_num| %>
        <div class="category" id="category<%= cat_num %>">

          <div class="cat-title" id="cat-title-<%= cat_num %>">
            <p contenteditable="true"
               class="default-cat"
               tabindex="<%= cat_num %>"
               data-defaultvalue="Category <%= cat_num %>"
               spellcheck="false">
              Category <%= cat_num %>
            </p>
          </div>
          <!--
          <div class="topic-area" id="topic-area-<%= cat_num %>">
            <p>Topic area <%= cat_num %></p>
          </div>
          -->

          <input class="topic-area" id="topic-area-<%= cat_num %>"
                                    placeholder="Topic area <%= cat_num %>"
                                    tabindex="<%= cat_num + 6 %>" />

          <% 1.upto(5) do |box_num| %>
            <% clue_value = box_num * top_row_value %>
            <div class="clue-box"
                 data-boxid="clue-box-<%= cat_num %>-<%= box_num %>"
                 data-rowvalue=<%= clue_value %>
                 data-boxvalue=<%= clue_value %>>
              <span>$<%= clue_value %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="clue-over-board">
      <h1>Hi! I'm a clue!</h1>
    </div>
  </div>

  <div id="panel">
    <div id="scoreboard">
      Score
      <div id="score">
        $...
      </div>
    </div>

    <div id="panel-buttons">
      <%= link_to 'End Round', '#' %>
      <%= link_to 'Previous Round', '#' %>
      <%= link_to 'Save Game', '#' %>
    </div>

    <div id="panel-links">
      <%= link_to 'Delete this game', '#' %>
      <%= link_to 'Help', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </div>
</div>
