<% top_row_value = 200 %>

<div id="game-container">

  <div id="board-area">

    <div id="board">
      <% 1.upto(6) do |cat_num| %>
        <div class="category" id="category<%= cat_num %>">

          <div class="cat-title" id="cat-title-<%= cat_num %>">
            <p contenteditable="true"
               class="default-cat click-resistant"
               tabindex="<%= cat_num %>"
               data-defaultvalue="Category <%= cat_num %>"
               spellcheck="false">
              Category <%= cat_num %>
            </p>
          </div>
          <!--
          <div class="topic-area" id="topic-area-<%= cat_num %>">
            <p>Topic area <%= cat_num %></p>
          </div>
          -->

          <input class="topic-area" id="topic-area-<%= cat_num %>"
                                    placeholder="Topic area <%= cat_num %>"
                                    tabindex="<%= cat_num + 6 %>" />

          <% 1.upto(5) do |box_num| %>
            <% clue_value = box_num * top_row_value %>
            <div class="clue-box active-clue-box"
                 data-column=<%= cat_num %>
                 data-rowvalue=<%= clue_value %>
                 data-isDD="false"
                 data-boxstate="active">
              <span>$<%= clue_value %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="clue-over-board">
      <div id="clue-heading">
        <span id="overlay-cat">{Category}</span>
        &nbsp;-&nbsp;
        <span id="overlay-value">{Value}</span>
      </div>

      <div id="clue-body">
        <div id="correctness-buttons">
          <button type="button" id="button-right">Right</button>
          <button type="button" id="button-pass">Pass</button>
          <button type="button" id="button-wrong">Wrong</button>
        </div>

        <div id="dd-nr-cancel">
          <div id="dd-checkbox-container">
            <label for="dd-checkbox">DD&nbsp;</label>
            <input type="checkbox" id="dd-checkbox" value="DD" />
          </div>
          <div id="nr-button">
            <button type="button">NR</button>
          </div>
          <div id="cancel-link">
            <a>Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="panel">
    <div id="scoreboard">
      Score
      <div id="score">
        $...
      </div>
    </div>

    <div id="panel-buttons">
      <%= link_to 'End Round', '#' %>
      <%= link_to 'Previous Round', '#' %>
      <%= link_to 'Save Game', '#' %>
    </div>

    <div id="panel-links">
      <%= link_to 'Delete this game', '#' %>
      <%= link_to 'Help', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </div>
</div>
