<div id="game-container">

  <div id="board">
    <% 1.upto(6) do |cat_num| %>
      <div class="category" id="category<%= cat_num %>">

        <div class="cat-title" id="cat-title-<%= cat_num %>">
          <p>Category <%= cat_num %></p>
        </div>

        <div class="topic-area" id="topic-area-<%= cat_num %>">
          <p>Topic area <%= cat_num %></p>
        </div>

        <% 1.upto(5) do |box_num| %>
          <div class="clue-box" data-item-id="clue-box-<%= cat_num %>-<%= box_num %>">
            <span>$<%= box_num * 10 %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="panel">
    <div id="scoreboard">
      Score
      <div id="score">
        $0
      </div>
    </div>

    <div id="panel-buttons">
      <%= link_to 'End Round', '#' %>
      <%= link_to 'Previous Round', '#' %>
      <%= link_to 'Save Game', '#' %>
    </div>

    <div id="panel-links">
      <%= link_to 'Delete this game', '#' %>
      <%= link_to 'Help', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </div>
</div>
