var $modal = $( "#restore-modal" ),
    $modalContent = $( "#restore-modal-body" ),
    $submitButton = $( "#restore-submit-button" ),
    // Sometimes Heroku dynos don't find the job and return an empty JSON
    // response. If this happens repeatedly, display a message to manage
    // the user's (understandable) impatience/confusion.
    emptyResponses = 0;

function updateModalContent( completed, total ) {
  var statusMessage;
  if (completed === total) {
    statusMessage = "Complete! " + completed + " games restored.";
  } else {
    statusMessage = "Restore in progress: " + completed + " of " +
                    total + " games saved.";
  }
  $modalContent.html(
    '<div class="col-xs-12 col-compact">' + statusMessage + '</div>'
  );
}

function makeRestoreStatusRequest() {
  $.ajax({
    url: "/restore/<%= @job_id %>",
    method: "GET",
    cache: false,
    timeout: 5000,  // milliseconds
    success: function ( data ) {
      if ( data.status === "failed" ) {
        alert("Oops. Something went wrong. If this persists, please " +
            "email <%= ENV['SUPPORT_ADDRESS'] %>.");
      } else {
        if ( data.progress && data.total ) {
          updateModalContent( data.progress, data.total );
          emptyResponses = 0;
        } else {
          emptyResponses++;
          if ( emptyResponses === 4 ) {
            $modalContent.html(
                $modalContent.html() +
                '<div id="progress-update" class="col-xs-12 col-compact">Please wait...</div>'
            );
          } else if ( emptyResponses === 12 ) {
            $( "#progress-update" ).html( "Still working..." );
          } else if ( emptyResponses === 40 ) {
            $( "#progress-update" ).html( "Give it another minute..." );
          } else if ( emptyResponses === 80 ) {
            $( "#progress-update" ).html(
                "Hm, status updates aren't coming through. I'll keep trying. " +
                "If you don't want to wait, refresh the page. If only some of " +
                "the games are there, refresh again in a minute and see if " +
                "they're still being added. If you encounter problems, email " +
                'me: <a class="nowrap" href="mailto: <%= ENV['SUPPORT_ADDRESS'] %>">' +
                "<%= ENV['SUPPORT_ADDRESS'] %></a>"
            );
          }
        }
        if ( data.status !== "completed" ) {
          window.setTimeout(makeRestoreStatusRequest, 1000);
        }
      }
    },
    failure: function () {
      alert( "Oops. Something went wrong. If this persists, please " +
             "email <%= ENV['SUPPORT_ADDRESS'] %>." );
    }
  });
}

$submitButton.hide();
$modal.on( "hide.bs.modal", function () { window.location.reload(); } );
updateModalContent( 0, <%= @games_count %> )
makeRestoreStatusRequest();
