<div id="filters" class="col-xs-12">

  <div class="clearfix">
    <h2>By show date</h2>
    <div class="filter-sentence">
      <%= select_tag('show-date-verb', options_for_select({
          'Display only' => 'show',
          'Hide all' => 'hide'
        }, @filters[:show_date_reverse] ? 'hide' : 'show'),
        class: 'display-or-hide') %>
      <span>&nbsp;</span>
      <span>stats from shows aired</span>
      <span>&nbsp;</span>
      <%= select_tag('show-date-preposition', options_for_select({
          'since the beginning of' => 'sinceBeg',
          'in the last' => 'inLast',
          'since' => 'since',
          'from' => 'from'
        }, @filters[:show_date_preposition]),
        class: 'filter-preposition') %>
      <span>&nbsp;</span>
      <span id="show-date-beginning-span" class="filter-object show-date-filter-object">
        <%= select_tag('show-date-beginning-dropdown', options_for_select({
            'time' => '',
            'Season 37 (2020-09-14)' => '2020-09-14',
            'Season 36 (2019-09-09)' => '2019-09-09',
            'Season 35 (2018-09-10)' => '2018-09-10',
            'Season 34 (2017-09-11)' => '2017-09-11',
            'Season 33 (2016-09-12)' => '2016-09-12',
            'Season 32 (2015-09-14)' => '2015-09-14',
            'Season 31 (2014-09-15)' => '2014-09-15',
            'Season 30 (2013-09-16)' => '2013-09-16'
          }, @filters[:show_date_beginning]),
          class: 'beginning-dropdown') %>
      </span>
      <span id="show-date-last-span" class="filter-object show-date-filter-object">
        <input id="show-date-last-number" class="number-entry" type="number" value="<%= @filters[:show_date_last_number] || 365 %>" />
        <%= select_tag('show-date-last-unit', options_for_select({
            'days' => 'd',
            'weeks' => 'w',
            'months' => 'm',
            'years' => 'y'
          }, @filters[:show_date_last_unit]),
          class: 'unit-dropdown') %>
      </span>
      <span id="show-date-from" class="filter-object show-date-filter-object">
        <span class="input-group date filter-datepicker" id="show-date-from-picker">
          <input type="text" spellcheck="false" value="<%= @filters[:show_date_from] || 1.year.ago.strftime('%F') %>" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </span>
      </span>
      <span id="show-date-to" class="filter-object date-to show-date-filter-object">
        <span>&nbsp;through&nbsp;</span>
        <span class="input-group date filter-datepicker" id="show-date-to-picker">
          <input type="text" spellcheck="false" value="<%= @filters[:show_date_to] || Date.today.strftime('%F') %>" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </span>
      </span>
      <span>.</span>
    </div>  <!-- filter-sentence -->
    <br />
  </div>  <!-- by-show-date clearfix -->

  <hr />

  <div class="clearfix">
    <h2>By date played</h2>
    <div class="filter-sentence">
      <%= select_tag('date-played-verb', options_for_select({
          'Display only' => 'show',
          'Hide all' => 'hide'
        }, @filters[:date_played_reverse] ? 'hide' : 'show'),
        class: 'display-or-hide') %>
      <span>&nbsp;</span>
      <span>stats from games played</span>
      <span>&nbsp;</span>
      <%= select_tag('date-played-preposition', options_for_select({
          'since the beginning of' => 'sinceBeg',
          'in the last' => 'inLast',
          'since' => 'since',
          'from' => 'from'
        }, @filters[:date_played_preposition]),
        class: 'filter-preposition') %>
      <span>&nbsp;</span>
      <span id="date-played-beginning-span" class="filter-object date-played-filter-object">
        <%= select_tag('date-played-beginning-dropdown', options_for_select({
            'time' => '',
            'Season 37 (2020-09-14)' => '2020-09-14',
            'Season 36 (2019-09-09)' => '2019-09-09',
            'Season 35 (2018-09-10)' => '2018-09-10',
            'Season 34 (2017-09-11)' => '2017-09-11',
            'Season 33 (2016-09-12)' => '2016-09-12',
            'Season 32 (2015-09-14)' => '2015-09-14',
            'Season 31 (2014-09-15)' => '2014-09-15',
            'Season 30 (2013-09-16)' => '2013-09-16'
          }, @filters[:date_played_beginning]),
          class: 'beginning-dropdown') %>
      </span>
      <span id="date-played-last-span" class="filter-object date-played-filter-object">
        <input id="date-played-last-number" class="number-entry" type="number" value="<%= @filters[:date_played_last_number] || 365 %>" />
        <%= select_tag('date-played-last-unit', options_for_select({
            'days' => 'd',
            'weeks' => 'w',
            'months' => 'm',
            'years' => 'y'
          }, @filters[:date_played_last_unit]),
          class: 'unit-dropdown') %>
      </span>
      <span id="date-played-from" class="filter-object date-played-filter-object">
        <span class="input-group date filter-datepicker" id="date-played-from-picker">
          <input type="text" spellcheck="false" value="<%= @filters[:date_played_from] || 1.year.ago.strftime('%F') %>" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </span>
      </span>
      <span id="date-played-to" class="filter-object date-to date-played-filter-object">
        <span>&nbsp;to the beginning of&nbsp;</span>
        <span class="input-group date filter-datepicker" id="date-played-to-picker">
          <input type="text" spellcheck="false" value="<%= @filters[:date_played_to] || Date.today.strftime('%F') %>" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </span>
      </span>
      <span>.</span>
    </div>  <!-- filter-sentence -->
    <br />
  </div>  <!-- by-date-played clearfix -->

  <hr />

  <div class="clearfix">
    <h2>By rerun status</h2>
    <div id="rerun-status-sentence">
      <span>Display</span>
      <span>&nbsp;</span>
      <%= select_tag('rerun-status', options_for_select({
          'both first-run and reruns' => 'all',
          'first-run only' => 'first',
          'reruns only' => 'rerun'
        }, @filters[:rerun_status])) %>
      <span>.</span>
    </div>
    <br />
  </div>

  <hr />

    <%= render 'filter_update_button' %>

  <hr />

  <div class="clearfix">
    <h2>By play type</h2>
    <table id="typeTable"
           class="tablesorter tablesorter-blue<%= ' empty' if no_games %>">
      <thead>
        <tr>
          <th>Include in stats?</th>
          <th>Play type</th>
          <th>Games played</th>
          <th>Average score</th>
          <th>High score</th>
          <th>Low score</th>
          <th>Final rate</th>
        </tr>
      </thead>
      <tbody>
        <% @play_type_summary.each do |type_stats| %>
          <% type_abbr = type_stats['play_type'] %>
          <tr class="<%= type_abbr %>">
            <td>
              <input id="<%= type_abbr %>-box" type="checkbox"
                     <%= 'checked="checked"'.html_safe if @play_types.include?(type_abbr) %>>
            </td>
            <td><%= PLAY_TYPES[type_abbr] %></td>
            <td><%= type_stats['games_count'] %></td>
            <td><%= number_to_currency(type_stats['average_score']) %></td>
            <td><%= number_to_currency(type_stats['max'], precision: 0) %></td>
            <td><%= number_to_currency(type_stats['min'], precision: 0) %></td>
            <td><%= display_percentage_from_rate(type_stats['final_rate']) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr />

  <%= render 'filter_update_button' %>
</div> <!-- filters -->
