<div id="games" data-name=<%= @user.shared_stats_name %>
                data-querystring=<%= URI.parse(request.original_url).query %>>
  <h2 id="games-headline">
    Games played by <%= @user_name %>
    <% if tracked == user_games_count %>
      (<%= user_games_count %>):
    <% else %>
      <span id="some-hidden">
        (<%= tracked %> of <%= user_games_count %> -
        <a id="show-all-games">show all</a>):
      </span>
      <span id="all-shown" style="display: none;">
        (all <%= user_games_count %> -
        <a id="hide-untracked-games">hide untracked</a>):
      </span>
    <% end %>
  </h2>

  <%# This is filled with the games table via a request that uses
      games.html.erb (without the underscore). %>
  <div id="games-container">
  </div>


  <!-- Invalid-game-data modal -->
  <div id="bad-data-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="bad-data-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="bad-data-modal-label">
             Missing data
          </h3>
        </div>

        <div class="modal-body" style="font-size: large;">
          <div class="row">
            <div class="col-xs-12 col-compact">
              <div class="form-group">
                <p>
                  Sorry for the inconvenience. It looks like the app tried to read some game data that wasn't in the database. Here's what might be going on, in order from most to least common:
                </p>
                <br />
                <p>
                  1. If the stats page was loaded immediately after saving this game, it may have looked for data about the game before that data had been fully written to the database. If that's the case, refreshing the stats page should fix the problem.
                </p>
                <br />
                <p>
                  Otherwise, something weird happened to the game's data. This happens occasionally, and I don't know what's causing it. If you noticed anything strange when you created or saved the game, please let me know so I can do some detective work: <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
                </p>
                <br />
                <p>
                  2. Often, a game with missing data will be a duplicate of a game that is present and valid. Check the Games list to see if there's another copy of this game that does have its data present. If so, all of your information is still there, and this missing-data duplicate game can be safely deleted.
                </p>
                <br />
                <p>
                  3. If it does look like you've lost data, send me an email at the address above. I'll look at the database directly and see if there's anything that can be salvaged.
                </p>
              </div> <!-- form-group -->
            </div> <!-- col-xs-12 -->
          </div> <!-- row -->
        </div> <!-- modal-body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="font-size: large;">
            Close
          </button>
        </div>

      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
  </div> <!-- Invalid-game-data modal -->

</div> <!-- Games tab -->
