<div id="options" class="col-xs-12">
  <br />
  <div class="clearfix">
    <h2>Stat Sharing</h2>
    <div id="stat-sharing-section">
      <%= render 'options_sharing' %>
    </div> <!-- stat-sharing-section -->
  </div> <!-- Stat Sharing clearfix -->
  <br />
  <hr />
  <br />
  <div class="clearfix">
    <h2>Backup/Restore</h2>
    <div class="isolated-sentence">
      (<a href="#" data-toggle="modal" data-target="#why-backup-modal">Why back up?</a>)
    </div>
    <div id="backup-sentence" class="isolated-sentence">
      Download a backup file of your games by clicking
      <% if current_user?(@user) %>
        <%# link_to 'here', backup_path %>.
        <a href="#" id="backup-link">here</a>.
      <% else %>
        <span class="disabled">here</span>.
      <% end %>
    </div>
    <a href="#" id="invisible-download-link" style="display: none;"></a>
    <div class="isolated-sentence">
      Add games from a previously-generated backup file
      <% if current_user?(@user) %>
        <a href="#" data-toggle="modal" data-target="#restore-modal">here</a>.
      <% else %>
        <span class="disabled">here</span>.
      <% end %>
    </div>
  </div> <!-- Back up/Restore clearfix -->
  <br />

  <!-- above: main tab content; below: modals -->

  <!-- Stat-sharing modal -->
  <div id="sharing-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="sharing-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="sharing-modal-label">
            Sharing settings
          </h3>
        </div>

        <%= form_with(model: @user,
                      url: sharing_path,
                      method: 'patch',
                      id: 'sharing-form') do |f| %>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12 col-compact">
                <div class="form-group">
                  <p>
                    To share your stats, enter a public username. For private stats, leave this box blank.
                  </p>
                  <div class="spacer">&nbsp;</div>
                  <div id="sharing-settings-error"></div>
                  <%= f.text_field(:shared_stats_name, spellcheck: 'false') %>
                  <%= f.check_box(:share_detailed_stats) %>
                  <%= f.label(:share_detailed_stats, 'Share detailed stats?') %>
                  <p class="sidebar">
                    COMING SOON: You'll be able to drill down into a topic or a game and see clue-by-clue results. Check this box to make these detailed stats shareable. Leave it unchecked to share summary stats only.
                  </p>
                </div> <!-- form-group -->
              </div> <!-- col-xs-12 -->
            </div> <!-- row -->
          </div> <!-- modal-body -->

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <%= f.submit('Save settings',
                         id: 'sharing-submit-button',
                         class: 'btn btn-primary',
                         data: { disable_with: 'Saving...' }) %>
          </div>
        <% end %>

      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
  </div> <!-- Stat-sharing modal -->

  <!-- Why-backup modal -->
  <div id="why-backup-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="why-backup-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="why-backup-modal-label">
              Why back up?
            </h3>
          </div>

          <div class="modal-body">
            <p>
              As the J! Scorer is <a href="https://github.com/steve-mcclellan/j-scorer" target="_blank">open source</a>, anyone is free to create their own instance of it for any reason. (Someone might want their own customized version, or simply a version where they control everything, including the database.)
            </p>
            <br />
            <p>
              Each instance will have its own separate database, and the only way to move games from one instance to another is through this back-up-and-restore feature.
            </p>
            <br />
            <p>
              It's a good idea to always keep a recent backup file on hand, just in case this instance or its database should vanish unexpectedly.
            </p>
            <br />
            <p>
              I intend to leave this instance up and running for as long as anyone is actively using it. That said, sometimes plans change, sometimes people become unable to execute their plans despite their best efforts, and sometimes service providers lose databases.
            </p>
            <br />
            <p>
              If any of these things happens, anyone who can set up a Ruby on Rails application can create a new J! Scorer instance. Create an account there, add the games from your recent backup file, and continue your training without major interruption.
            </p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div> <!-- modal-footer -->

      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
  </div> <!-- why-backup-modal -->

  <!-- Modal for restoring from backup -->
  <div id="restore-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="restore-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with(url: restore_path,
                      method: 'post',
                      multipart: true,
                      id: 'restore-form') do %>

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="restore-modal-label">
              Restore from backup
            </h3>
          </div>

          <div class="modal-body">
            <div class="row" id="restore-modal-content">
              <div class="col-xs-12 col-compact">
                <div class="input-group" id="restore-form-group">
                  <label for="file">Backup file (*.jscor):</label>
                  <%= file_field_tag 'file', required: true %>
                  <%#= text_field_tag 'test_field', nil, required: true %>
                </div>
              </div>
              <div class="col-xs-12 col-compact">
                <strong>Warning:</strong> This will add all of the games in the backup file to your user account. If you're not restarting from scratch, this may result in duplicates.
              </div>
              <div class="col-xs-12 col-compact">&nbsp;</div>
              <div class="col-xs-12 col-compact">
                <strong>Note:</strong> You may see an error message, even if the restore is successful, or still in progress. If you have a lot of games, the restore may take a long time. Before retrying, <strong>please</strong> let it sit overnight and make sure the games haven't been added by tomorrow. Thanks!
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <%= submit_tag('Restore',
                           id: 'restore-submit-button',
                           class: 'btn btn-primary',
                           data: { disable_with: 'Restoring...' }) %>
          </div> <!-- modal-footer -->

        <% end %>
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
  </div> <!-- restore-modal -->
</div> <!-- options tab -->
