<% if @sample %>
  <% provide(:title, 'Sample stats') %>
  <% provide(:tags, "description: A sample stats page (with the developer's real stats), to give you a taste of what the J! Scorer can do.".html_safe) %>
<% elsif @shared %>
  <% provide(:title, "Shared stats for #{@user_name}") %>
  <% provide(:tags, "description: The up-to-the-minute stats for J! Scorer user #{@user_name}.") %>
<% else %>
  <% provide(:title, 'Stats') %>
  <% provide(:tags, 'description: Your up-to-the-minute stats, broken down by game, topic, row, play type, and more.') %>
<% end %>

<div id="stats-loading-message">
  Loading stats page. One moment please.
</div>

<div id="stats-area">
  
  <div class="k-box">
    <p>
      <%= random_full_greeting %>
      The new "Greatest of All Time" play type is ready to go. Also, topics with no data are now automatically removed, and the individual-topic pages now include sortable tables and have play types indicated. (Those pages can be reached by clicking on a name in the Topics tab.) There have been several under-the-hood changes as well. <strong>Please</strong> let me know if I broke anything:
      <a class="nowrap" href="mailto:<%= ENV['SUPPORT_ADDRESS'] %>"><%= ENV['SUPPORT_ADDRESS'] %></a>.
    </p>
  </div>

  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#games">Games</a></li>
    <li><a href="#topics">Topics</a></li>
    <li><a href="#by-row">By row</a></li>
    <li><a href="#finals">Finals</a></li>
    <li><a href="#filters">Filters</a></li>
    <li><a href="#options">Options</a></li>
  </ul>

  <noscript>
    <div class="no-js-box text-center">
      <p>
        Note: With JavaScript enabled, this same information is in a tabbed format which is much easier to read.
      </p>
    </div>
  </noscript>

  <% user_games_count = @user.games.count %>
  <% tracked = @summary[:all][:game_count] %>

  <%= render 'overview', user_games_count: user_games_count,
                         tracked: tracked,
                         pctile: @percentile_stats %>

  <%= render 'games', user_games_count: user_games_count, tracked: tracked %>

  <%= render 'topics', stats: @stats_by_topic %>

  <%= render 'by_row', stats: @stats_by_row %>

  <%= render 'finals', stats: @final_stats %>

  <%= render 'filters', no_games: user_games_count.zero? %>

  <%= render 'options' %>

</div>
